body{
    min-height: 100vh;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}
.weather-card {
    margin-top: 100px;
    background-color: rgba(204, 206, 219, 0.85); 
    border-radius: 10px;
    margin: 30px auto;
    color: #054386; 
    width: 80%; 
    max-width: 400px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
body.sunny {
    background-image: url('images/sunny.jpg');
}

body.cloudy {
    background-image: url('images/cloudy.jpg');
}

body.rainy{
    background-image: url('images/rainy.jpg');
}

body.snow {
    background-image: url('images/snow.jpg');
}
.first{
    margin-top: 100px;
    color: rgb(6, 14, 14);
    font-style: italic;
    font-size: 35px;;
}
.second{
    font-size:x-large;
    color:rgb(10, 50, 68);
    font-size: 30px;

}
.input-box {
  width: 250px;           /* Adjust width as needed */
  height: 30px;           /* Height */
  padding: 0 15px;        /* Inner spacing (left/right) */
  font-size: 16px;        /* Text size */
  border: 2px solid #194773; /* Border color */
  border-radius: 8px;  
  margin-bottom: 100px;    
}

/* Button styling (matches input height) */
.search {
  margin-top: 20px; 
  width:80px; 
  height: 33px;           /* Horizontal padding */
  font-size: 16px;        /* Button text size */
  background-color: #054386; /* Blue color (adjustable) */
  color: white;
  border: none;
  border-radius: 8px;     /* Matches input's corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth hover effect */
  border:3px solid #3389b4;
}

